[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dash = "~=2.18"
dash-core-components = "~=2.0"
dash-html-components = "~=2.0"
opencv-python = "~=4.10"
numpy = "~=2.1"
gunicorn = "~=23.0"
dash-bootstrap-components = "~=1.6"

[dev-packages]
pylint = "*"
ipykernel = "*"
matplotlib = "~=3.9"

[requires]
python_version = "3.12"
