[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dash = "*"
dash-core-components = "*"
dash-html-components = "*"
opencv_python = "*"
numpy = "*"
gunicorn = "*"
dash-bootstrap-components = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.12"
